@font-face {
  font-family: 'Maiden';
  src: url('../assets/fonts/Maiden.woff2') format('woff2'),
    url('../assets/fonts/Maiden.woff') format('woff'),
    url('../assets/fonts/Maiden.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Omnia';
  src: url('../assets/fonts/Omnia.woff2') format('woff2'),
    url('../assets/fonts/Omnia.woff') format('woff'),
    url('../assets/fonts/Omnia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Slaytanic';
  src: url('../assets/fonts/Slaytanic.woff2') format('woff2'),
    url('../assets/fonts/Slaytanic.woff') format('woff'),
    url('../assets/fonts/Slaytanic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Windlass';
  src: url('../assets/fonts/Windlass.woff2') format('woff2'),
    url('../assets/fonts/Windlass.woff') format('woff'),
    url('../assets/fonts/Windlass.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
