
/******************* BAND INFO *******************/

.main__content .band__info {
  padding-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
}

.main__content .band__info__art img {
  width: 300px;
  height: 300px;
}

.main__content .band__info__meta {
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap;
}

.main__content .band__info__meta .band__name {
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.main__content .band__info__meta .band__genre {
  color: #aaaaaa;
  letter-spacing: 1px;
}

/*
.main__content .band__info__description {
  margin-right: 15px;
}

.main__content .band__info__description .band__description {
  color: #aaaaaa;
  letter-spacing: 1px;
}
*/

/****************************************************/


/**** POPULAR TRACKS ****/

.main__content .popular__tracks {
  display: flex;
  flex-flow: column wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main__content .popular__tracks .track {
  border-top: 1px solid #282828;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  cursor: pointer;
}

.main__content .popular__tracks .track:hover {
  background: #282828;
}

.main__content .popular__tracks .track:last-child {
  border-bottom: 1px solid #282828;
}

.main__content .popular__tracks .track__art img {
  width: 42px;
  height: 42px;
}

.main__content .popular__tracks .track__number {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px;
}

.main__content .popular__tracks .track__added {
  margin-left: 30px;
  color: #c8c8c8;
}

.main__content .popular__tracks .track__added .added {
  color: #c8c8c8;
}

.main__content .popular__tracks .track__added .not-added {
  color: #aaaaaa;
}

.main__content .popular__tracks .track__title {
  width: 45%;
  margin-left: 30px;
  color: white;
}

.main__content .popular__tracks .track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}

.main__content .popular__tracks .track__title.featured .feature {
  color: #aaaaaa;
}

.main__content .popular__tracks .track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}

.main__content .popular__tracks .track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}

.main__content .popular__tracks .track__title.featured .feature:hover {
  cursor: pointer;
  color: #c8c8c8;
  text-decoration: underline;
}

.main__content .popular__tracks .track__length {
  color: #aaaaaa;
  margin-left: auto;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .main__content .popular__tracks .track__title {
    width: auto !important;
  }
}

/****************************************************/


/********************** ALBUMS GRID LIST **********************/

.main__content .album__list {
  display: grid;
  grid-template-columns: minmax(200px, auto);
  grid-gap: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 800px) {
  .main__content .album__list {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (min-width: 1200px) {
  .main__content .album__list {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media (min-width: 1600px) {
  .main__content .album__list {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

.main__content .album__list .album__list__item {
  padding: 10px;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.main__content .album__list .album__list__item:hover {
  opacity: 1 !important;
}

.main__content .album__list .album__list__item .album__title {
  font-size: 18px;
  color: var(--main-highlight-color);
  margin-bottom: 8px;
}

.main__content .album__list .album__list__item .album__year {
  font-size: 15px;
  color: var(--main-highlight-color);
}

/****************************************************/