:root {
  --main-bg-color: #0e0e0e;
  --main-font-color: #b9b5b5;
  --main-highlight-color: #fff;
  --main-link-active-color: #fff;
  --main-border-color: #8080804d;
  --activity-bg-color: #000;
  --footer-height: 100px;
  --main-bg-color-dark: #202020;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Lato', Arial, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  color: var(--main-font-color);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
  color: var(--main-highlight-color);
}

.button {
  padding: 15px 10px;
  background: transparent;
  border: 1px solid var(--main-font-color);
  border-radius: 20px;
  color: var(--main-font-color);
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.3s;
  letter-spacing: 1.2px;
}
.button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}

.link {
  display: inline-block;
  color: var(--main-font-color);
  padding: 5px;
  text-decoration: none;
  transition: all 0.5s;
}
.link:visited, .link:focus
.link:hover, .link:active {
  color: var(--main-font-color);
}
.link:hover, .link:active, .link:focus {
  color: var(--main-link-active-color);
}

.wrapper {
  display: grid;
  background: var(--main-bg-color);
  grid-gap: 10px;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-areas: "main" "sidebar";
}
@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 200px auto;
    grid-template-areas: "sidebar main";
  }
}
@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 200px auto 200px;
    grid-template-areas: "sidebar main social";
  }
}

.sidebar {
  background: var(--activity-bg-color);
  grid-area: sidebar;
}

.sidebar li {
  line-height: 2;
}

.sidebar__header {
  margin-bottom: 5px;
}

.sidebar__header {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.2px;
}

main {
  grid-area: main;
  padding: 10px 20px;
}
@media (min-width: 800px) {
  main {
    padding: 10px 20px calc(var(--footer-height) + 40px);
    margin-bottom: 20px;
  }
}

.main__header h1 {
  margin-bottom: 20px;
  font-size: 38px;
}

.main__nav {
  margin-bottom: 30px;
  border-bottom: 1px solid var(--main-border-color);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-gap: 10px;
}

.main__nav .link {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1.2px;
  font-size: 13px;
  border-bottom: 2px solid transparent;
  padding-bottom: 11px;
}
.main__nav .link.is-active {
  color: var(--main-link-active-color);
  border-bottom: 3px solid green;
}
.main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
  display: none;
}
@media (min-width: 800px) {
  .main__nav .link:nth-of-type(2), .main__nav .link:nth-of-type(3), .main__nav .link:nth-of-type(4), .main__nav .link:nth-of-type(5) {
    display: inline;
  }
}

.main__playlists h2 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-border-color);
}

.music__list {
  display: grid;
  grid-template-columns: minmax(200px, auto);
  grid-gap: 20px;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (min-width: 800px) {
  .music__list {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}
@media (min-width: 1200px) {
  .music__list {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}
@media (min-width: 1600px) {
  .music__list {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

.music__list-item {
  padding: 10px;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.4s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.music__list-item:hover {
  opacity: 1 !important;
}

.activity {
  grid-area: social;
  display: none;
  background-color: var(--activity-bg-color);
  padding-left: 20px;
}
.activity h2 {
  margin: 30px 0;
}
@media (min-width: 1200px) {
  .activity {
    display: block;
  }
}

.footer {
  position: fixed;
  display: grid;
  height: var(--footer-height);
  grid-template-columns: 150px 1fr auto;
  bottom: 0;
  grid-gap: 20px;
  background: var(--main-bg-color-dark);
  padding: 20px 20px 100px;
  width: 100%;
}
@media (min-width: 800px) {
  .footer {
    grid-template-columns: 250px 1fr 60px;
  }
}

.now-playing {
  display: flex;
}

.album__image {
  width: 100px;
  height: 100px;
}

.album__musician,
.album__title {
  display: block;
}

.album__info {
  padding-left: 15px;
}

.album__title {
  color: var(--main-highlight-color);
  margin-bottom: 5px;
}

.album__musician {
  font-size: 13px;
}

i {
  color: var(--main-font-color);
  padding: 0 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s;
}
i:hover {
  color: var(--main-link-active-color);
}
i.fa-play-circle {
  font-size: 21px;
}
i.fa-play-circle:hover {
  transform: scale(1.2);
}

.play-controls {
  align-self: center;
  justify-self: center;
}

.play-device-controls {
  align-self: center;
}

.song__title {
  font-size: 18px;
  color: var(--main-highlight-color);
  margin-bottom: 8px;
}

.song__creator {
  font-size: 12px;
}



.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
  }
  .tracks__heading {
  color: #aaaaaa;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  }
  .tracks__heading__number {
  margin-left: 10px;
  font-style: italic;
  }
  .tracks__heading__title {
  margin-left: 70px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
  }
  .tracks__heading__length {
  margin-left: auto;
  font-size: 20px;
  }
  .tracks__heading__popularity {
  font-size: 20px;
  margin-left: 55px;
  padding-right: 10px;
  }
  .tracks .track {
  border-top: 1px solid #282828;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  }
  .tracks .track:hover {
  background: #282828;
  }
.tracks .track:last-child {
  border-bottom: 1px solid #282828;
}
  .tracks .track__art img {
  width: 42px;
  height: 42px;
  }
  .tracks .track__number {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px;
  }
.tracks .track__added {
  margin-left: 30px;
  color: #c8c8c8;
}
.tracks .track__added .added {
  color: #c8c8c8;
}
.tracks .track__added .not-added {
  color: #aaaaaa;
}
.tracks .track__title {
  width: 45%;
  margin-left: 30px;
  color: white;
}
.tracks .track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}
.tracks .track__title.featured .feature {
  color: #aaaaaa;
}
.tracks .track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}
.tracks .track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}
.tracks .track__title.featured .feature:hover {
  cursor: pointer;
  color: #c8c8c8;
  text-decoration: underline;
}
.tracks .track__explicit .label {
  border: 1px;
  border-style: solid;
  border-color: #424242;
  color: #424242;
  text-transform: uppercase;
}
.tracks .track__plays {
  color: #aaaaaa;
  margin-left: auto;
  padding-right: 10px;
}
.tracks .track__length {
  margin-left: auto;
  color: #aaaaaa;
}
.tracks .track__popularity {
  margin-left: 46px;
  padding-right: 10px;
  font-size: 20px;
  color: #aaaaaa;
}
