@import '../../styles/vars.scss';

.album__modal {
  & {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-index-hide;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(17, 17, 18, 0.7);
    z-index: 100;
  }

  .album__modal__content {
    & {
      position: absolute;
      top: 100vh;
      height: 90vh;
      min-width: 75vw;
      border-radius: 25px;
      padding: 0 80px;
      overflow-y: scroll;
      background: $color-background-modal;
      transition: all $transition-duration-long $transition-smooth;
    }

    &.open {
      transform: translateY(-95vh);
    }

    .album__modal__content__area {
      & {
        display: flex;
        flex-direction: column;
        padding: 60px 0 90px;
      }

      .album__info {
        & {
          width: 100%;
          display: flex;
          flex-direction: row;
        }

        .album__info__img {
          & {
            width: 380px;
            height: 380px;
          }

          @media (min-width: 960px) {
            width: 420px;
            height: 420px;
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 12px;
          }
        }

        .album__info__data {
          & {
            width: calc(100% - 480px);
            margin-left: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            font-size: $font-size-small-2;
            color: $color-text-highlight;
          }

          .album__info__data__wrapper {
            & {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }

            .album__name {
              font-size: 60px;
              line-height: 1;
              margin-bottom: 40px;
            }

            .album__year,
            .album__producers,
            .album__studio {
              font-size: 18px;
              margin-bottom: 8px;
            }
          }

          .album__duration {
            & {
              align-self: flex-end;
              display: flex;
              align-items: center;
            }

            svg {
              width: 4px;
              height: 4px;
              margin: 0 12px;
            }
          }
        }
      }

      .album__tracks {
        & {
          margin-top: 50px;
          display: flex;
          flex-direction: column;
        }

        .album__tracks__header {
          & {
            height: 42px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
          }

          .tracks__header__number {
            margin-left: 15px;
            width: 20px;
            font-style: italic;
            text-align: end;
          }

          .tracks__header__title {
            margin-left: 70px;
            text-transform: uppercase;
          }

          .tracks__header__length {
            & {
              margin-right: 20px;
              margin-left: auto;
            }

            svg {
              width: 16px;
              height: 16px;
            }
          }
        }

        .tracks {
          & {
            display: flex;
            flex-flow: column wrap;
          }

          .track {
            & {
              height: 42px;
              border-top: 1px solid $color-border-table;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              cursor: pointer;
              transition: background $transition-duration
                $transition-timing-function;
            }

            &:hover {
              background: $color-background-table;
            }

            &:last-child {
              border-bottom: 1px solid $color-border-table;
            }

            .track__number {
              margin-left: 15px;
              width: 20px;
              text-align: end;
            }

            .track__title {
              margin-left: 60px;
              color: $color-text-highlight;
            }

            .track__length {
              margin-right: 15px;
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
